.event-form {
    max-width: 700px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  select {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button[type='submit'] {
    padding: 10px 20px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #0066b2;
  }


  .event-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .image-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .confirmation-dialog {
    position: fixed;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }
  
  .confirmation-dialog h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .confirmation-dialog p {
    margin-bottom: 5px;
  }


  .container {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    max-width: 1460px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  body {
    background-image: url("https://images.pexels.com/photos/7233099/pexels-photo-7233099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-color: #cccccc;
  }