* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow:auto;
  
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

body{
  background-color: rgb(209,204,204);
}
.templateContainer{
  margin: 5% 0;
}
.templateContainer > .searchInput_Container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.templateContainer > .searchInput_Container input{
  width: 50%;
  padding: 10px;
  outline: none;
}
.templateContainer .template_Container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  grid-column: span 1;
}
.templateContainer .template_Container .template{
  background-color: white;
  margin: 30px;
  padding: 0px 20px;
}
.templateContainer .template_Container .template img{
  height: 200px;
}
 


body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
p {
  margin: 0;
  padding: 0;
}


.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button {
  border: 1px solid #000;
  background: transparent;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 4px 10px;
  min-width: 100px;
  min-height: 50px;
  margin: 4px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  color: #64748b;
  font-size: 10px;
}

.active {
  background-color: #1e293b;
  color: #fff;
}


/* styles.css */

.item-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.item-details-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.item-details-container h2 {
  margin-top: 0;
}

.item-details-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.item-details-container label {
  display: block;
  margin-bottom: 10px;
}

.item-details-container input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.item-details-container button {
  margin-top: 10px;
}




